

body {
  line-height: 26px;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #fdf4f4;
  background: rgb(7, 0, 14);
   }


   

a{
  color: white;
}


img{
  max-width: 100%;
  height: auto;
}

.btn-primary{
  background-color: #031128;
  border: #031128;
}



.banner-content h1 {
  font-weight: 900;
  font-family: cursive;
}

.banner-content h1 span {
  color: coral;
}

h4, h1{
  font-family: 'Roboto Mono', monospace;
}

p{
  font-size: larger;
  font-family: 'Nanum Gothic', sans-serif;
}


.django, .flask, .express, .drf, .sql{
  height: 96px;
}

.flask, .sql, .drf{
  filter: invert(100%);
}


.logo{
  filter: invert(100%);
}



#social-wrapper {
	text-align: center;
}




.nav-link{
  font-size: 20px;
}

.profile-img{
  border: 5px solid transparent;
  border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
  border-image-slice: 1;

}

@import url(https://fonts.googleapis.com/css?family=Piedra:regular);
.card{
  width: 18rem;
  background-color: rgb(255, 255, 255);
  color: rgb(7, 0, 14);
}

.card-subtitle{
  font-family: Piedra;
}

.site-footer hr{
  border-top-color:#bbb;
  opacity:0.5;
}

.site-footer h6
{
  color: grey;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}

.site-footer a, .copyright-text
{
  color:#737373;
}

.site-footer .social-icons
{
  text-align:right;
  list-style: none;
}


.site-footer
{
  background-color:rgb(7, 0, 14);
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:  white;
}

.site-footer li{
  display: inline-block;
  margin: 0px 10px;
}


